.swiper {
    width: 100%;
    height: 600px;
}

.aesthetic {
    text-align: center;
    font-size: 18px;
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aesthetic img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1.5rem;
    width: fit-content;
}

.swiper-button-next,
.swiper-button-prev {
    padding: 0.75rem;
    border-radius: 50px;
    background-color: white;
    color: #000;
    clip-path: circle(40% at 50% 50%);
}

.slide-content {
    text-align: left;
    width: 40%;
    padding-left: 7rem;
    margin-right: auto;
}

.swiper-slide-active .slide-content {
    animation: fadeIn 1.25s ease-in-out;
}

.slide-title {
    width: fit-content;
    font-size: 8rem;
    line-height: 0.45em;
}

.slide-subtitle {
    font-size: 4rem;
    padding-left: 1rem;
}

.slide-desc {
    font-family: 'Montserrat';
    font-weight: 100;
    margin-top: -5rem;
}

.slide-button {
    background: #eee;
    margin-top: 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
    border: 2px solid grey;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
}

.slide-button::before,
.slide-button::after {
    position: absolute;
    background: #eee;
    z-index: -1;
    transition: 1s;
    content: '';
}

.slide-button::before {
    height: 50px;
    width: 130px;
}

.slide-button::after {
    width: 150px;
    height: 30px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.slide-button:hover::before {
    width: 0px;
    background: grey;
}

.slide-button:hover::after {
    height: 0px;
    background: grey;
}

.slide-button:hover {
    background: grey;
    color: white;
    border: 2px solid white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}