.page_title {
    font-size: 4rem;
    text-align: center;
}

.grow {
    height: 1.5px;
    background: black;
    margin: auto;
    margin-top: 1rem;
    width: 300px;
    animation: grow 1s forwards;
}

.container {
    display: flex;
    margin: 2rem auto;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.col {
    width: 30%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    backdrop-filter: brightness(100%);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s all;
}

.col:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: -1;
    transition: 1s all;
}

.col:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

.col:hover {
    box-shadow: 0 0 20px 5px #00000055;
}

.col .title {
    text-align: center;
    margin: 1rem;
    z-index: 2;
    color: white;
    font-weight: 500;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: transform 0.5s ease;
}

.col:hover .title {
    text-align: center;
    transform: translateY(-40%);
}

.male {
    background-image: url('../assets/images/male.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.female {
    background-image: url('../assets/images/female.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media(max-width:1024px) {
    .col {
        height: 12rem;
    }
}

@media(max-width:600px) {
    .container {
        gap: 1rem;
    }

    .col {
        width: 45%;
        height: 7rem;
    }

    .col:hover .title {
        transform: translateY(-25%);
    }
}

@keyframes grow {
    to {
        width: 80%;
    }
}