.prod-carousal {
    height: 100%;
    padding: 0 2rem;
    background: white;
    margin-bottom: 1rem;
}

.prod-carousal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prod-carousal .swiper-slide {
    box-shadow: 0 0 10px 5px #80808040;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 4rem;
}

.prod-info {
    padding: 1rem;
}

.prod-title {
    margin: 0 0 0.25rem 0;
}

.prod-price {
    font-size: 1.2rem;
}

.buy-now {
    background: #eee;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    transition: 1s;
}

.buy-now::before,
.buy-now::after {
    position: absolute;
    background: #eee;
    z-index: -1;
    transition: 1s;
    content: '';
}

.buy-now::before {
    height: 50px;
    width: 130px;
}

.buy-now::after {
    width: 150px;
    height: 30px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buy-now:hover::before {
    width: 0px;
    background: black;
}

.buy-now:hover::after {
    height: 0px;
    background: black;
}

.buy-now:hover {
    background: black;
    color: white;
    border: 1px solid black;
}

@media (max-width: 1024px) {
    .prod-carousal {
        max-width: 92%;
        overflow-x: hidden;
    }
}

@media (max-width: 650px) {
    .prod-carousal {
        max-width: 80%;
        overflow-x: hidden;
    }
}